
* {
    margin: 0;
    padding: 0;
  }

  body {
    background-color: rgb(2, 2, 41);
    color: azure;
    font-family: "Poppins", sans-serif;
  }

  nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 80px;
    background-color: rgb(3, 3, 63);
  }
  nav ul {
    display: flex;
    justify-content: center;
  }

  nav ul li {
    list-style: none;
    margin: 0 23px;
  }
  nav ul li a {
    text-decoration: none;
    color: white;
  }

  nav ul li a:hover {
    text-decoration: none;
    color: rgb(94, 94, 121);
  }

  .left {
    font-size: 1.5rem;
  }
  .firstSection {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 70px 0;
  }

  .firstSection > div {
    width: 30%;
  }

  .leftSection {
    font-size: 2rem;
  }
  .leftSection .buttns {
    padding: 14px;
  }
  .leftSection .btn {
    padding: 12px;
    background: #1e2167;
    color: white;
    border: 2px solid #6b4646;
    border-radius: 6px;
    font-size: 15px;
    cursor: pointer;
  }

  .rightSection img {
    width: 100%;
    margin: 50px 0;
  }
  .purple {
    color: rgb(215, 94, 211);
  }
  #element {
    color: rgb(215, 94, 211);
  }
  .secondSection {
    max-width: 80vw;
    margin: auto;
    height: 80vh;
  }
  .secondSection h1 {
    font-size: 1rem;
  }
  .secondSection .box {
    background: white;
    width: 89vw;
    height: 2px;
    margin: 56px 0;
    display: flex;
  }

  .secondSection .vertical {
    height: 93px;
    width: 1px;
    background-color: white;
    margin: 0 100px;
  }
  .image-top {
    width: 23px;
    position: relative;
    top: -32px;
    left: -9px;
  }
  .image-topcss {
    width: 23px;
    position: relative;
    top: -37px;
    left: -9px;
  }
  .vertical-title {
    position: relative;
    top: 66px;
    width: 150px;
  }
  .vertical-titleCss {
    position: relative;
    top: 57px;
    width: 150px;
  }
  .vertical-desc {
    position: relative;
    top: 70px;
    color: gray;
    width: 150px;
    font-size: 9px;
  }
  .vertical-descCss {
    position: relative;
    top: 61px;
    color: gray;
    width: 150px;
    font-size: 9px;
  }
  .textgray {
    color: gray;
  }
  footer {
    background-color: rgb(38, 31, 38);
  }
  .footer {
    display: flex;
    padding: 23px 122px;
    justify-content: space-evenly;
  }
  .footer ul {
    list-style: none;
  }
  footer .footer > div {
    width: 123px;
  }
  footer .footer-text-center {
    text-align: center;
    font-size: 10px;
    color: gray;
    padding: 12px 12px;
  }
 .anchor{
  color: white;
  text-decoration: none;
 }
 .firstSection{
  flex-direction: column-reverse;
 }